*.gem
*.no-git.*
*.rbc
.bundle/
.config/
.yardoc/
Gemfile.lock
InstalledFiles/
_yardoc/
coverage/
doc/coverage/
doc/rdoc/
doc/spec/
doc/yard/
html/
pkg/
rdoc/
spec/reports/
test/tmp/
test/version_tmp/
tmp/
